.card {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 700;
}

.follow {
  margin-top: 8px;
  font-size: 0.9rem;
  color: var(--dark-gray);
}
